*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black
}

form{
    display: flex;
    flex-direction: column;
    background: black;
    text-align: center;
    padding: 120px 120px;
    box-shadow: 25px 25px 25px 25px rgba(71, 3, 6, 0.7);
}

.input {
    background-color: red  ;
    max-width: 190px;
    height: 40px;
    padding: 2px 10px;
    /* text-align: center; */
    border: 1px solid black;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }

  .input:focus {
    color: rgb(255, 0, 0);
    background-color: #212121;
    outline-color: rgb(255, 0, 0);
    box-shadow: -3px -3px 15px rgb(255, 0, 0);
    transition: .1s;
    transition-property: box-shadow;
  }

  form .title{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  form label{
    margin-bottom: 30px;
  }

  form label .fa-solid{
    font-size: 20px;
    color: red;
    margin-right: 10px;
  }

  form button{
    color: #fff;
    border: none;
    background: red;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
  }